*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 992px;
}
.header-text{
font-size:14px;
}
/*CSS for appointment button*/
.btn-manual{
	float: right;
	padding: 4px 15px 4px;
	border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 5px 5px 0;
}
.btn-manual:hover{
	background-color: #ffffff;
    color: #17a2b8;
}
/*CSS for Nav bar*/
.navbar {
	height: 60px;
  	z-index: 1;
  	background-color: rgba(23,162,184,0.6);
  	box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.4);
}
.navbar-toggler-icon {
	font-size: 24px;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler{
	padding-bottom: 10px;
}
.navbar-toggler:focus{
	outline:none;
}
#navbar_supported_content {
	position: absolute;
  	width: 100%;
  	top:60px;
  	left: 0;
}
.nav-item {
  	background-color: #17a2b8;
  	padding-top: 4px;
 }
.nav-item:hover {
  	background-color: #ffffff;
  	cursor: pointer;
}
.nav-item a {
  	color: #ffffff;
  	font-size: 16px;
}
.nav-item:hover a {
	color: #17a2b8;
}
/*CSS for Banner*/
.banner {
    position: relative;
    margin-top: -60px;
}
.fluid-banner{
	height: auto;
	width: 100%;
}
/*CSS for Body Article*/
.why-choose-us-container{
	margin-top: 25px;
	padding:0 26px 14px 20px;
}
.why-choose-us-header{
	padding-bottom: 10px;
}
.why-choose-us-header h4{
	font-size: 22px;
	display: inline;
}
.ecg-logo{
	width:70px;
	padding:0 10px;
}
#stetho_logo{
	display: none;
}
.why-choose-us-paragraph{
	line-height: 1.8;
	font-size: 14px;
}
.why-choose-us-col{
	width: auto;
	flex:none;
	padding:5px 10px 30px;
}
.why-choose-us-col a{
	font-size: 14px;
	padding-left: 5px;
	text-decoration: none;
	color: #000000;
}
/*CSS for Departments*/
.dept-container{
	margin-top: 10px;
}
.dept-header{
	padding-bottom: 13px;
}
.dept-header h5{
	display: inline;
	color: #17a2b8;
	font-size: 22px;
}
.dept-item{
    margin-top: 25px;
    min-width: 75px;
}
.dept-item h6{
	padding: 20px 0 5px 0;
}
.dept-caption{
	color: #17a2b8;
	font-weight:bolder;
}
.dept-caption:hover{
	text-decoration: none;
	color:#000000; 
}
#medicine_logo,
#gastrology_logo{
	width:105px;
}
#neurology_logo,
#more_logo{
	width: 70px;
}
#cardiology_logo{
	width: 95px;
}
/*CSS for footers*/
.footer-line{
	margin-top:30px;
	height: 1px;
  	background: repeating-linear-gradient(to right, #17a2b8  0,#17a2b8  10px, #ffffff 10px, #ffffff 16px)
}
.footer-info{
	padding-top: 20px;
    text-align: center;
    font-size:12px;
}