*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	margin: 0;
	padding: 0;
}
a,
a:hover{
	text-decoration: none;
}
.container{
	max-width: 768px;
	padding-left: 0;
	padding-right: 0;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.header-text{
font-size:14px;
margin-left: 25px;
}
.appoinment-btn{
	padding: 3px 15px 4px;
	border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 15px 6px 0;
}
.appoinment-btn:hover{
	background-color: #ffffff;
    color: #17a2b8;
}
.navbar {
	padding-top: 0;
	height: 60px;
  	z-index: 1;
  	background-color: rgba(23,162,184,0.5);
  	box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.4);
}
#navbar_logo {
  height: 45px;
  padding-left: 15px;
  padding-top: 5px;
}
.navbar-toggler-icon {
	font-size: 23px;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler{
	border: none;
	padding: 0;
	margin-right: 20px;
}
.navbar-toggler:focus{
	outline:none;
}
#navbar_supported_content {
	position: absolute;
  	width: 100%;
  	top:60px;
  	left: 0;
}
.nav-item {
  	background-color: #17a2b8;
  	padding-top: 4px;
 }
.nav-item:hover {
  	background-color: #ffffff;
  	cursor: pointer;
}
.nav-item a {
  	color: #ffffff;
  	font-size: 16px;
}
.nav-item:hover a {
	color: #17a2b8;
}
#banner {
    position: relative;
    margin-top: -60px;
}
.fluid-banner{
	height: 165px;
	width: 100%;
	object-fit: cover;
}
#why_choose_us{
	margin-top: 23px;
	padding-right: 25px;
	padding-left: 15px;
}
.why-choose-us-header{
	padding-left: 6px;
}
.why-choose-us-header h4{
	font-size: 22px;
	display: inline;
}
#body_image{
	display: none;
}
.ecg-logo{
	width: 70px;
	padding: 0 10px;
}
#paragraph{
	margin-top: 13px;
	margin-bottom: 16px;
	line-height: 25px;
	font-size: 14px;
	padding-left: 6px;
}
.capsule-col{
	padding:5px 0 30px;
	width: auto;
}
#capsule_1,
#capsule_3{
	text-align: left;
}
#capsule_2,
#capsule_4{
	text-align: right;
}
.capsule-col a{
	font-size: 14px;
	padding-left: 5px;
	color: #000000;
}
.capsule-col a:hover{
	color: #17a2b8;
}
#department{
	margin-top: 25px;
}
.department-header{
	padding-bottom: 13px;
}
.department-header h5{
	display: inline;
	color: #17a2b8;
	font-size: 22px;
}
.department-col{
    text-align: center;
}
.department-item{
    margin-top: 25px;
}
.department-item h6{
	padding: 20px 0 5px 0;
}
.department-btn img:hover{
	transform: scale(1.1);	
	transition: transform .2s;
}
.department-caption{
	color: #17a2b8;
	font-weight:bolder;
}
.department-caption:hover{
	color:#000000; 
}
#medicine_logo,
#gastrology_logo{
	width:105px;
}
#neurology_logo,
#more_logo{
	width: 70px;
}
#cardiology_logo{
	width: 95px;
}
#footer_line{
	margin:30px 17px 0;
	height: 1px;
  	background: repeating-linear-gradient(to right, #17a2b8  0,#17a2b8  10px, #ffffff 10px, #ffffff 16px)
}
#footer_info{
	padding-top: 20px;
    text-align: center;
    font-size:12px;
}